:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #4f2a93;
  background: linear-gradient(180deg, #dc8665, #6133b4);
  min-height: 100vh;
  --text-color: #f3f1f1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifUsername;
  font-size: 20px;
  color: var(--text-color);
  line-height: 1.43;
}

label {
  display: flex;
  clear: both;
  float: left;
}

a {
  font-weight: 350;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

.forgot-password {
  color: #bda8ff !important;
  float: right;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.strike-features {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.strike-features > span:after,
.strike-features > span:before {
  content: "";
  position: absolute;
  top: 500%;
  width: 9999px;
  height: 1px;
  background: #fff;
}

hr.rounded {
  border-top: px solid;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color);
}

h2 {
  margin-block-start: 20px;
  color: #f3f1f1;
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  max-width: 600px;
  position: relative;
  margin-bottom: 1.5em;
}

h2:before {
  content: "";
  display: block;
  width: 265px;
  height: 1px;
  background: #f3f1f1;
  left: 0;
  top: 50%;
  position: absolute;
}

h2:after {
  content: "";
  display: block;
  width: 265px;
  height: 1px;
  background: #f3f1f1;
  right: 0;
  top: 50%;
  position: absolute;
}

h3 {
  font-size: 1.6em;
  line-height: 01.1;
  color: #f3f1f1;
}

h4 {
  font-size: 1.2em;
  line-height: 1.1;
  color: #f3f1f1ad;
  display: block;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.block h5 {
  color: #f3f1f1;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

h5 {
  display: block;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 1em;
}

.block a {
  color: #cbd4da;
  display: block;
  font-size: 19px;
  letter-spacing: 1px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 2em;
}

button {
  border-radius: 4px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0 auto;
  margin: 13px 12px 12px 10px;
}

button:hover {
  background-color: var(--secondary-color);
}

.recordButton {
  border-radius: 4px;
  padding: 0.4em .75em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0 auto;
  margin: 13px 12px 12px 10px;
}

.recordButton:hover {
  background-color: var(--secondary-color);
}

.card {
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.features {
  width: 5em;
  text-align: center;
  align-items: center;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.block i {
  display: block;
}

.description {
  place-items: center;
}

.description .description-wrapper {
  padding: 60px 40px;
  width: calc(100% - 80px);
}

.block {
  width: 75%;
  display: flex;
  align-items: center;
  margin-left: -5%;
  height: calc(150px);
}

.features {
  width: 45em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  width: 30em;
  padding: 2rem;
  text-align: center;
}

#nav {
  overflow: hidden;
  background-color: transparent;
}

#nav a {
  float: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #082a71;
}

.img {
  padding-bottom: 30px;
}

.made {
  padding-top: 20px;
  float: center;
  font-size: 19px;
}

a {
  color: #8ce4e4;
}

.habitsHeader {
  text-align: center;
  max-width: 600px;
  position: relative;
  font-size: 20px;
}
.habitsHeader:before {
  content: "";
  display: block;
  width: 165px;
  height: 5px;
  background: #fff;
  left: 50px;
  top: 50%;
  position: absolute;
  height: 1px;
}
.habitsHeader:after {
  content: "";
  display: block;
  width: 165px;
  height: 5px;
  background: #fff;
  right: 50px;
  top: 50%;
  position: absolute;
  height: 1px;
}
#newHabitContainer {
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #f3f1f1ad;
  border: 1px solid hsl(0, 0%, 90%);
  display: block;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: #082a71;
}

input[type="text"],
input[type="number"],
input[type="textbox"],
select {
  width: 100%;
  padding: 10px 10px;
  margin: 12px 0;
  box-sizing: border-box;
  display: flex;
}

.habit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  color: #f3f1f1;
}

.habits {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  color: #f3f1f1;
}

h6 {
  display: block;
  font-size: 12px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 1em;
}
